/* text */
body {font-family: "De Valencia", "light";}
    h1 {
        font-size: 40pt;
        padding: 20px 0px 0px 20px;
        color: #0D5661;
        align-items: center;
        text-decoration: none;
    }
    h2 {
        font-size: 30pt;
    }
    p {
        font-size: 15pt;
    }

div.col1 {
    display: block;
    grid-template-columns: 3fr 1fr;
    column-gap: 5px;
}

.container {
    width: 100%;
    background-color: whitesmoke;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header {
    width: 100%;
    font-size: 20pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: whitesmoke;
}



/* links */
    a {
        color: #0D5661;
        text-decoration: none;
    }
        .active{
            height: 100%;
            text-align: center;
            align-content: center;
            border-right: 1px solid whitesmoke;
            color: whitesmoke;
            text-decoration: none;
            display: block;
            padding: 10px;
        }

    li a:link {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #376b6d;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:visited {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #376b6d;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:hover {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #376b6d;
        border-right: 1px solid whitesmoke;
        color: #0D5661;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:active {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #0D5661;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
