/* text */
    body {
        font-family: "lato";
        font-size: 20pt;
        height: 100%;
    }
    h1 {
        font-family: "De Valencia";
        font-size: 40pt;
        padding: 20px 0px 0px 20px;
        color: #113285;
        align-items: center;
        text-decoration: none;
    }
    h2 {
        font-family: "De Valencia";
        font-size: 30pt;
    }
    p {
        
        font-size: 15pt;
    }

div.col1 {
    display: block;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    position: -stickywebkit-; /* Safari */
    position: sticky;
    top: 0;
}

.topnav {
    font-size: 20pt;
    font-family: "De Valencia";
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: whitesmoke;
}



/* links */
    a {
        color: #113285;
        text-decoration: none;
    }
        .active{
            height: 100%;
            text-align: center;
            align-content: center;
            border-right: 1px solid whitesmoke;
            color: whitesmoke;
            text-decoration: none;
            display: block;
            padding: 10px;
        }
        .top {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

    li a:link {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #005CAF;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:visited {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #005CAF;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:hover {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #005CAF;
        border-right: 1px solid whitesmoke;
        color: #113285;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    li a:active {
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: #113285;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
    input[type=text] {
        float: none;
        padding: 6px;
        border: none;
        font-size: 17px;
        width: 100%;
    }


/* Layout */
    div.gal-row {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px 0 0;
        justify-content: center;
    }
        div.gal-col {
            padding: 0 4px;
            flex: 24%;
            max-width: 24%;
        }
        .gal-col img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        div.gal-col {
        flex: 50%;
        max-width: 50%;
        }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        div.gal-col {
        flex: 100%;
        max-width: 100%;
        }
    }

    .wrapper {
        position: relative;
        flex-grow: 1;
        margin: auto;
        max-width: 1200px;
        max-height: 1200px;
        
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 2vmin;
        justify-items: center;
        align-items: center;
      }
      
      .wrapper img {
        z-index: 1;
        grid-column: span 2;
        max-width: 100%;
        margin-bottom: -15%;
        clip-path: polygon(50% 100%, -7% 0%, 107% 0%);
        object-fit: contain;
        transform: scale(1);
        transition: all .25s;
        
        &:nth-child(7n + 1) {
          grid-column: 2 / span 2;
        }
        
        &:hover {
          z-index: 2;
          transform: scale(1.5);
        }
      }
      

    div.row::after {
        content: "";
        display: table;
        clear: both;
      }

    div.right {
        float:right;
        width: 15%;
        margin-top: 20px;
        padding: 25px;
        background-color: whitesmoke;
        border-radius: 5px;
    }
    div.main {
        width: 100%;
        height: 100%;
        padding-right: 20px;
    }
